@import "../../css/mixins";

.category-head {
    display: flex;
    flex-direction: column;

    @include media(mobil) {
        margin-top: 30px;
    }

    &__image {
        margin-bottom: 10px;
        height: 100%;
        width: 100%;
    }

    &__title {
        color: #111;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__desc {
        color: #111;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.4;
        margin-bottom: 30px;
    }
}