@import "../../css/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;

  @include media(mobil) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 80%;
    height: 100%;
    padding: 20px;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  &__opened {
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  &__icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    @include media(mobil) {
      display: block;
    }
  }

  &__title {
    color: #111111;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }

  .categories {
    &__list-wrapper {
      margin: 0;
    }

    &__list-item {
      cursor: pointer;
      height: 25px;

      &:hover {
        color: green;
        transition: 0.3s ease;
      }
    }
  }
  .size {
    &__list-wrapper {
      column-count: 2;
    }
  }

  .brand {
    &__list-wrapper {
      column-count: 2;
    }
  }
}
