.app {
  min-width: 320px;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  justify-content: space-between;
}

#root {
  width: 100vw;
}

.navbar-open {
  position: relative;
  left: 270px;
}
