@import "../../css/mixins";

.col {
  margin: auto;
}

.home-card__wrapper {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(200px, 300px));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
  width: 100%;
  margin: auto;

  @include media(tablet) {
    display: grid;
  }

  .card {
    &__figure {
      height: 100%;
      position: relative;
    }

    &__image {
      object-fit: cover;
    }

    &__figcaption {
      right: 50%;
      transform: translate(50%);
    }
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 2 / 2 / 4 / 3;
  }
}
